<h1>Edit Comment</h1>

<%= render 'form', chat: @chat %>

<section class="grouped_buttons">
    <button type="button" class="btn btn-info">
        <%= link_to 'Show', @chat %> 
    </button >

</section>