<div class="container">    
    <h1>Edit Document</h1>

    <%= render 'form', document: @document %>

    <section class="grouped_buttons">
        <button type="button" class="btn btn-outline-primary">
            <%= link_to 'View Details', @document %> 
        </button >

        <button type="button" class="btn btn-outline-primary">
            <%= link_to 'View All Documents', documents_path %>
        </button>

    </section>
</div>