<h1>Edit Link</h1>

<%= render 'form', link: @link %>

<section class="grouped_buttons">
    <button type="button" class="btn btn-info">
        <%= link_to 'Show', @link %> 
    </button >

</section>