<h1>Links</h1>
 <% @links.each do | link | %>

    <% if link.title? && link.link? %>
        <%= link_to "#{link.title}", link.link, target: "blank" %>
    <% else %>
        &nbsp;
    <% end %>

    <% if link.link? %>
        <%= link.link %>
    <% else %>
        &nbsp;
    <% end %>

    <% if link.description? %>
        <strong>Description: </strong><%= sanitize(link.description) %>
    <% else %>
        &nbsp;
    <% end %>

    <% if link.category? %>
        <strong>Category: </strong><%= sanitize(link.category) %>
    <% else %>
        &nbsp;
    <% end %>
<% end %>
