<div class="container">
    <h1>Edit Photo Post</h1>

    <%= render 'form', post: @post %>

    <section class="grouped_buttons">
        <button type="button" class="btn btn-outline-primary">
            <%= link_to 'View Photo Post', @post %> 
        </button >

    </section>
</div>