<h1>Edit Photo Post</h1>

<%= render 'form', post: @post %>

<section class="grouped_buttons">
    <button type="button" class="btn btn-info">
        <%= link_to 'Show', @post %> 
    </button >

</section>