<h1>Edit Activity</h1>

<%= render 'form', activity: @activity %>

<section class="grouped_buttons">
    <button type="button" class="btn btn-info">
        <%= link_to 'Show', @activity %> 
    </button >

</section>