<div class="container">
    <h1>Edit Activity</h1>

    <%= render 'form', activity: @activity %>

    <section class="grouped_buttons">
        <button type="button" class="btn btn-outline-primary">
            <%= link_to 'View Activity', @activity %> 
        </button >

        <button type="button" class="btn btn-outline-primary">
            <%= link_to 'View All Activities', activities_path %>
        </button>

    </section>
</div>